.header{
    background-color: #003A60;
    height: 100px;
}
 
.header h2{
    color: #fff;
}
.img{
    height: 50px;
    width: 50px;
    
}
.title{
    width: 25%;
    height: 100%;
    display: inline-block;
}